.file_icon {
  display: inline-block;
  margin: 5% 2% 0;
  width: 55px;
}

.file_name {
  display: block;
  font-weight: bold;
  margin-top: 2%;
}

.attach_block {
  display: inline-block;
  margin-bottom: 2%;
}

.attach {
  list-style-type: none;
}

.attach_div {
  width: 90%;
  vertical-align: middle; /* match to .section input. Should affect all elements in the div */
}

input.attach{
  margin-top:0;
}

input.file-description {
  margin-top: 0;
  vertical-align: inherit;
}

.current_file_info {
  font-size: 13px;
  vertical-align: inherit;
}

.file_size {
  font-size: 13px;
  line-height: 22px;
}

.current_file_name {
  font-size: 13px;
  margin-left: 10px;
  width: 27%;
}

.remove_link {
  display: none;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 8px;
  vertical-align: inherit;
}

.display_remove {
  display: inline;
}

.section #entity_extra table {
  width: 100%;
}

.error {
  color: red;
}
